/* ------------------ nav bar -------------------- */

.navbar{
  text-align: center;
}
.navbar-nav{
  text-align: center;
}
body{
  background: #F0EAD6;
}

.nav-item a{
  color: white;
  font-size: 20px;
  margin-left: 24px;
}
.navbar-brand{
  color: white;
  font-size: 28px;
}
.navbar-brand:hover{
  cursor: none;
}

.nav-item a:hover{
  color: #CBB996;
}


/* ------------------ home -------------------- */
.header-text{
  color: rgb(23, 23, 23);
  text-align: center;
  margin-top: 240px;
}
.name{
  width: 380px;
}

/* ------------------ about -------------------- */
#about{
  padding: 80px 0;
  color:rgb(23, 23, 23);
  

}

.row{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;

}

.about-col-1 img{
  width: 100%;
  border-radius: 50px;
}

.about-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 50px;
  color:rgb(23, 23, 23);
  
}

.aboutmeinfo{
  font-size: 20px;
}

.quick-info{
 margin: 20px 0 40px; 
}


.tabs{
  margin-right:50px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
  color:rgb(23, 23, 23);
}
.tab-section{
  color: #2b4e31;
}


/* ------------------ proj & animation -------------------- */

#proj-title{
  margin-left: 100px;
  margin-bottom: 50px;;
}
.accordion{
  width:900px;
  
}
.accordion-button{
  background-color: #2b4e31;
}
.accordion-button[aria-expanded="true"] {
  background-color: #CBB996; /* Change to the desired color */
  color: rgb(23, 23, 23); /* Change to the desired color */
}
.crutch1{
  height:300px;
}
.crutch2{
  height:300px;
}

.crutch3{
  width:400px;
}

.hammer1, .hammer2, .hammer3{
  height: 250px;
}

.tennis1, .tennis2, .tennis3{
  height: 250px;
}
a{
  color:#CBB996; 
}

.fall, .tomb, .asl, .pacman{
  width:400px;
}


/* ------------------ publications -------------------- */
.list-group{
  width: 900px;
  margin: auto;
  
}

.list-group-item{
background-color: #2b4e31;
border-color:white;
}
.list-group-item:hover{
  background-color: rgb(23, 23, 23);
}


#about{
  margin-top: 300px;
}

#projects, #animation, #publications{
  margin-top: 100px;
}

/* --------contact---------- */
#contact{
  margin-top: 100px;
}
.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 20px;
  font-size: 25px;
}

.contact-left p i {
  color: #2b4e31;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 10px;
  display: inline-block;
  padding-top:5px;
}

.social-icons a{
  text-decoration: none;
  font-size: 40px;
  margin-right: 15px;
  color: rgb(23, 23, 23);
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #2b4e31;
  transform: translateY(-5px);
}
.btn{
  background-color:  #2b4e31;
  color: white;
  padding: 14px;
  margin-top: 10px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  font-size: 20px;
  cursor: pointer;
}




.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: bold;
  font-size: 18px;
  background-color:#2b4e31;
}

.copyright i{
  color:red;
}

.copyright p{
  color: white;
}

@media only screen and (max-width: 600px){
  .header-text{

    margin-top: 30%;
    font-size: 16px;
    text-align: center;
  }
  
  .header-text h1{
    font-size: 60px;
    margin-top: 20px;
    
  }
  .header-text h2{
    font-size: 20px;
    display: inline-block;
    
  }
  .logo{
    display: inline-block;
    width:120px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
    font-size: 18px;
  }
  .skater{
    width:120px;
    display: inline-block;
    margin-top: 20px;
    padding-right: 50px;
  }
  nav .fa-solid{
    display: block;
    font-size: 25px;
    margin-top: 10px;
  }

  nav ul{
    background:#151f23;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;

  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .header-text h1{
    font-size: 45px;
    margin-top: 20px;

  }
  .header-text h1 span {
    font-size: 50px;
    display: block;
    
  }
  .header-text h2{
    font-size: 35px;
    
  }

  /* -------about-------- */
  .about-col-1{
    width:100%;
    border-radius: 50px;
    display: inline-block;
  }
  .about-col-2{
    display: block;
  }
  .row{
    display:block;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sub-title{
    font-size: 35px;
    
  }

  .contact-left .subtitle{
    font-size:40px;
  }
  .list-group{
    width: auto;
  }
}

